.whatsapp { 
    position: fixed;
    display: flex; flex-direction: row;
    align-items: center; justify-content: center;
    width: auto; height: 90px;
    bottom: 0; right: 0;
    background-color: #ffffff87;
    z-index: 2;
    padding: 0 20px;

    .title { display: flex; font-size: 12px; color: #143302; margin-right: 20px; font-weight: 400; letter-spacing: 0.05em;}
    svg { fill: #255808; }
    // &:hover { width: auto; padding: 0 20px; cursor: pointer; 
    //         .title { display: flex !important; } 
    //         svg { fill: #255808; } 
    // }
}