.post-author { margin-top: 11px; width: calc(100% - 140px); display: flex; flex-direction: row; justify-content: space-between; padding: 0 70px;
                margin-bottom: 100px; padding-bottom: 15px; border-bottom: 1px solid #dddddd;
    .author { font-style: italic; font-weight: 500; font-size: 16px; }
}