.carrossel-admin {

    .text-title { width: 100%; text-align: center;
        font-size: 28px; font-weight: 500; color: #323030;
        margin-top: 50px; margin-bottom: 15px; }
    .text-desc { width: 100%; text-align: center;
        font-size: 20px; font-weight: normal; color: #323030;
        margin-bottom: 40px; }
        

    .text-group {
        display: flex; flex-direction: row;
        align-items: center; justify-content: center;
        flex-wrap: wrap;
        .btn-text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 250px;
            background: #673ab7;
            border-radius: 4px;
            color: #fff;
            margin: 10px 20px;
            box-shadow: 1px 1px 4px #c9bfbf;

            &:hover { background: #512a94; cursor: pointer; }
        }
    }

    .edtion-area {
        position: relative;
        background: #fff;
        padding: 10px;
        margin-top: 50px;

        .input-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fbfbfb;
            .input-carrossel { 
                background: #fbfbfb;
                width: 80%;
                margin-bottom: 1px; 
                outline: none;
            }
            .save-image {
                border: 1px solid #2196f3;
                font-size: 12px;
                padding: 3px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #2196f3;
                width: 100px;
                height: 35px;
                background-color: #fbfbfb;
                
                &:hover {
                    border-color: #512a94;
                    color: #512a94;
                    cursor: pointer;
                }
            }
        }
    }

    .header {
        position: relative;
        display: flex; flex-direction: column;
        align-items: center; justify-content: center;
        height: 520px;
        z-index: 1;
        .bullet-group {
            margin-top: 150px;
        }
        .bg-img {
            position: absolute;  z-index: -1;
            top: 0; bottom: 0;
            left: 0; right: 0;
            background-image: 
                // tint
                linear-gradient( rgba(0, 60, 89, 0.80),  rgba(0, 60, 89, 0.80) );
            background-position: center; background-repeat: no-repeat;
            background-size: cover; background-blend-mode: multiply;
            opacity: 75%;
            width: 100%;
            height: 500px;
            object-fit: cover;
            margin-top: 20px;
           
        }
    
        img { width: 220px; margin-bottom: 34px; }
        .title { 
                margin-bottom: 120px;
                max-width: 535px; 
                font-weight: 600; font-size: 36px;        
                color: #FFFFFF; text-align: center;
        }
    }
    
}