.products { background-color:#fff;
    .products-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: 15px;

        .products-area { width: 99.6%; background-color:#FBFAFA; padding-top: 100px; border-left: 2px solid #e1e1e1; grid-area: 1 / 2 / 6 / 6;}
    }
}

@media screen and (max-width: 1270px) {
    .products .products-content .products-sidebar { display: none !important; }
    .products .products-content .products-area { grid-area: 1 / 1 / 6 / 6 !important; }
    .products .products-spotlight-area .products-spotlight .ps-title { margin-right: 100px; }
}

@media screen and (max-width: 970px) {
    .products .products-spotlight-area .products-spotlight .ps-title { margin-right: 0px;  font-size: 18px; }
}

@media screen and (max-width: 750px) {
    .products .products-spotlight-area .products-spotlight { padding-right: 0; }
    .products .products-spotlight-area .products-spotlight .ps-img { width: 290px; }
}

@media screen and (max-width: 500px) {
    .products .products-spotlight-area .products-spotlight { justify-content: flex-end; }
    .products .products-spotlight-area .products-spotlight .ps-title { display: none !important; }
}