.products { background-color:#fff;
    .products-content {
        display: flex; flex-direction: row;
        align-items: flex-start; justify-content: flex-start;
        margin-top: 130px;

        .products-area { width: calc(100% - 270px); background-color:#FBFAFA; padding-top: 100px; border-left: 2px solid #e1e1e1; }
    }
}