.products-admin {
    .product-details {
        position: fixed;
        background: white;
        left: 240px; top: 0; bottom: 0;
        box-shadow: 1px 1px 4px #8f8d8d;
        width: 408px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;


        .title { 
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 350px;
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 36px;
            border-bottom: 1px  solid lightgrey;
            padding-bottom: 15px;

            .btn-close {
                
                font-size: 16px;
                position: absolute;
                right: 25px;
                margin-top: 4px;
                color: #a5a5a5;

                &:hover { color: red; cursor: pointer; }

            }
        }

        .image {
            display: flex;
            flex-direction: column;
            background: #fff;
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            width: calc(100% - 50px);
            font-size: 12px;
            margin-top: 65px;

            img { width: 100%; height: 100%; object-fit: contain; }

            .button-edit-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                width: 100%;

                svg { 
                    font-size: 12px;
                    &:hover {
                        border-color: #6100ff;
                        color: #6100ff;
                        cursor: pointer;
                    }                    
                }

                div { 
                    border: 1px solid #707070;
                    color: #707070;
                    padding: 3px 5px;
                    border-radius: 4px;
                    margin: 0 5px;
                    font-size: 10px;

                    &:hover {
                        border-color: #6100ff;
                        color: #6100ff;
                        cursor: pointer;
                    }
                }
            }
            
            svg { 
                color: #3d3d3d; 
                font-size: 18px; 
                &:hover {
                    color: #6100ff;
                    cursor: pointer;
                }
            }

            .ql-container.ql-snow { 
                height: 100px;
            }
            .ql-toolbar.ql-snow {
                text-align: center;
                padding: 0;
            }
            .ql-editor {
                width: 250px;
                height: 100px;
            }

            .save-image {                    
                color: #ef6464;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 8px;

                svg { 
                    color: #3d3d3d; 
                    font-size: 18px; 
                    &:hover {
                        color: #6100ff;
                        cursor: pointer;
                    }
                }
            }
        }
        
        .product-name {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 10px;
            width: calc(100% - 50px);
            strong {
                word-break: break-word;
                max-width: 320px;
                margin-right: 10px;
            }
        }

        .left-text { text-align: left; max-width: 350px; width: 350px; margin-bottom: 10px; display: flex; }

        .tag-group { 
            display: flex; flex-direction: row; flex-wrap: wrap;
            align-items: center; justify-content: flex-start;
            width: 350px; margin-top: 20px;

            .tag { font-size: 10px; color: #a72e23; border: 1px solid #F24333; 
                   padding: 4px 8px; margin-right: 10px; 
                        &:last-child { margin-right: 0; }
            }

        }

        .details-group {
            display: flex; flex-direction: column;
            align-items: center; justify-content: flex-start;
            width: 350px; margin-top: 20px; max-width: 350px;
            margin-bottom: 30px;

            .group { 
                display: flex; flex-direction: row;
                justify-content: flex-start; align-items: center;
                max-width: 350px; margin-bottom: 2px;
                
                .group-title { display: flex; align-items: center; background-color: #E8E8E8; padding: 0 10px; font-size: 11px; 
                               width: 120px; height: 30px; color: #000; margin-right: 0px; font-weight: 500; }
                .group-desc { display: flex; align-items: center; background-color: #F6F6F6; padding: 0 10px; font-size: 11px; 
                              width: 230px; height: 30px; color: #000; margin-right: 0px; font-weight: normal; }

            }
        }


        ul { max-width: 350px;  word-break: inherit;
             padding: 0;
             font-size: 13px;
             width: 100%; 
             margin-top: 5px;   
            }

        .spotlight {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            background: #5AFF15;
            color: #3c5e1d;
            position: absolute;
            right: 0;
            top: 89px;
            
            &:hover { background-color: #d3cfcf; color: #999; cursor: pointer; }
        }

        .spotlight-off {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 15px;
            background: #d3cfcf;
            color: #999;
            position: absolute;
            right: 0;
            top: 89px; 
            
            &:hover { background-color: #5AFF15; color: #3c5e1d; cursor: pointer; }
        }

        .remove-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 8px;
            background: #F24333;
            color: #fff;
            margin-top: 89px;
            font-size: 12px;
            border-radius: 8px;
            margin-bottom: 20px;
            
            &:hover { background-color: #be2f22; color: #efefef; cursor: pointer; }
        }

    }
}

.product-details::-webkit-scrollbar {
    width: 7px;
}
  
.product-details::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #B0BEC5; 
}