.fast-bar-row {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #444950;

    .fast-bar {
        margin-left: 20px;
        color: #bdbdbd;
        font-size: 15px;
        cursor: default;

        svg { margin-right: 15px; }
        &.active { color: #444950;
            &:hover { color: rgba(247, 7, 7, 0.733); cursor: pointer; }
        }

    }        
}
