
    .fast-bar {
        display: flex;
        align-items: center; justify-content: flex-end;
        color: #bdbdbd;
        font-size: 15px;
        cursor: default;

        svg { margin-right: 15px; }
        .active { color: #7a7a7a;
            &:hover { color: rgba(247, 7, 7, 0.733); cursor: pointer; }
        }

    }