.home {
    .contact { 
        display: flex; flex-direction: column;
        align-items: center; justify-content: center;
        height: 695px;
        margin-top: 200px;
        max-width: 100%;
        background: #2C3A41;
    
        .title { 
            margin-bottom: 24px;
            color: #fff;
            font-weight: 600; font-size: 34px;       
            text-align: center;        
        }
        
        .desc { 
            max-width: 930px;
            margin: 0 auto; margin-bottom: 45px;
            color: #7C7C7C;
            font-weight: 500; font-size: 30px;       
            text-align: center;        
        }
    
        .line { 
            display: block;
            width: 100px; height: 8px;
            margin: 0 auto; margin-bottom: 50px;
            background-color: #7C7C7C;
        }
    
        .form-area { 
            width: 1410px;
            max-width: 100%;
            position: relative;
    
            img.bussiness-man-img { position: absolute;
                                    bottom: -75px; left: 0; }
        
            form { 
                display: flex; flex-direction: column;
                align-items: flex-end;
                width: 95%; max-width: 1440px;
                margin-right: 50px; position: inherit;
    
                .form-horizontal-row { 
                    display: flex; flex-direction: row; 
                    align-items: center; justify-content: center;
                    input:first-child { margin-right: 15px; } 
                    input { width: 300px; }       
                }
    
                input , textarea { width: 627px; margin-bottom: 15px; }
                textarea { height: 195px; resize: none;  }
    
                .text-btn-area { margin-bottom: 80px;
                    .btn-orange-square { position: absolute;
                                         bottom: 40px; right: -50px; 
                                         width:250px; height: 95px;
                                         padding: 20px;
                                         font-size: 22px; font-weight: 600;                                          
                                         background: #FAA916; color: #fff;                                             
                                         border: none;
                                         text-transform: uppercase;
                                    
                                        &:hover {
                                            cursor: pointer;
                                            background-color: #f39e05;
                                            box-shadow: 2px 2px 4px #4e4e4e;
                                        }
                                        
                    }
                }
            } //END FORM
    
        }
    }
}

@media screen and (max-width: '960px') {
    .home .contact .form-area img.bussiness-man-img {  opacity: 0.4;   }
}

@media screen and (max-width: '860px') {
    .home .contact { margin-top: 55px; }
    .home .contact .title { font-size: 26px; }
}

@media screen and (max-width: '750px') {
    .home .contact .form-area form {  max-width: calc(100% - 30px) !important; width: 100%;
    
        .form-horizontal-row { max-width: 100% !important; width: 100% !important; margin: 0 auto !important; margin-left: 15px !important;}
        input , textarea { width: calc(100% - 60px) !important; margin: 0 auto; margin-left: 39px; margin-bottom: 10px; }
        .text-btn-area { width: 100%; }
        .form-horizontal-row { flex-direction: column; input { width: 100%; margin: 0 !important; margin-bottom: 10px !important; } }
    
    }

    .home .contact .form-area form .form-horizontal-row {
        max-width: 100%!important;
        width: 100%!important;
        margin: 0 auto 0 18px!important;
    }

    .home .contact .form-area form input, .home .contact .form-area form textarea {
        width: calc(100% - 30px)!important;
        margin: 0 auto 6px 28px;
    }
    
    .home .contact .form-area form .text-btn-area .btn-orange-square {
        position: unset!important;
        width: 100%!important;
        max-width: calc(100% - 18px);
        margin-left: 28px;
    }
    .home .contact .form-area img.bussiness-man-img {  display: none !important;  }
}
