.home {
    .contact { 
        display: flex; flex-direction: column;
        align-items: center; justify-content: center;
        height: 695px;
        margin-top: 200px;
        max-width: 100%;
        background: #2C3A41;
    
        .title { 
            margin-bottom: 24px;
            color: #fff;
            font-weight: 600; font-size: 34px;       
            text-align: center;        
        }
        
        .desc { 
            max-width: 930px;
            margin: 0 auto; margin-bottom: 45px;
            color: #7C7C7C;
            font-weight: 500; font-size: 30px;       
            text-align: center;        
        }
    
        .line { 
            display: block;
            width: 100px; height: 8px;
            margin: 0 auto; margin-bottom: 50px;
            background-color: #7C7C7C;
        }
    
        .form-area { 
            width: 1410px;
            max-width: 100%;
            position: relative;
    
            img.bussiness-man-img { position: absolute;
                                    bottom: -75px; left: 0; }
        
            form { 
                display: flex; flex-direction: column;
                align-items: flex-end;
                width: 95%; max-width: 1440px;
                margin-right: 50px;
    
                .form-horizontal-row { 
                    display: flex; flex-direction: row; 
                    align-items: center; justify-content: center;
                    input:first-child { margin-right: 15px; } 
                    input { width: 300px; }       
                }
    
                input , textarea { width: 627px; margin-bottom: 15px; }
                textarea { height: 195px; resize: none;  }
    
                .text-btn-area { margin-bottom: 80px;
                    .btn-orange-square { position: absolute;
                                         bottom: 40px; right: 0px; 
                                         width:250px; height: 95px;
                                         padding: 20px;
                                         font-size: 22px; font-weight: 600;                                          
                                         background: #FAA916; color: #fff;                                             
                                         border: none;
                                         text-transform: uppercase;
                                    
                                        &:hover {
                                            cursor: pointer;
                                            background-color: #f39e05;
                                            box-shadow: 2px 2px 4px #4e4e4e;
                                        }
                                        
                    }
                }
            } //END FORM
    
        }
    }
}