.project {
    .form {

        display: flex; flex-direction: column;
        align-items: center; justify-content: center;
        width: 1280px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
      
        .form-title{ 
            display: flex; flex-direction: column; align-items: center; justify-content: center;
            .title {  font-weight: 500; font-size: 34px;  color: #1274c3; }
            .desc { font-weight: 500; font-size: 20px; color: #8798a1; margin-bottom: 85px; }    
        }

        .project-form { 
            display: flex; flex-direction: column;
            width: 100%;
            max-width: 100%;
            max-width: 100%;

            .project-form-group { 
                     display: flex; flex-direction: column; 
                     flex-wrap: wrap;
                     width: 1280px;
                     max-width: calc(100% - 20px) !important;;
                     margin: 0 auto;

                    input {
                        width: calc(100% - 10px); 
                        margin-bottom: 20px;
                        box-shadow: 1px 2px 5px #ededed;
                        border-radius: 2px; 
                    } 

                    textarea {
                        width: calc(100% - 10px); 
                        margin-bottom: 20px;
                        box-shadow: 1px 2px 5px #ededed;
                        border-radius: 2px; 
                        height: 200px;
                        resize: none;
                    } 

                    .group-1 { display: flex; flex-direction: row; 
                        input {
                            width: 50%;
                            &:first-child { margin-right: 20px; width: calc(50% - 20px); }
                        }
                    }

                    .group-2 { display: flex; flex-direction: column; }
                    .group-3 { 
                        display: flex; flex-direction: row;
                        align-items: center; justify-content: space-between;
                        margin-top: 30px; 
                        color: #000;
                        font-weight: 500;   
                        font-size: 17px;

                       .radio-group {
                            display: flex; flex-direction: row;
                            align-items: center;
                            .radio-btn { 
                                display: flex; flex-direction: row; 
                                align-items: center;
                                margin: 0 15px;
                                color: #3c3c3c;
                                input { height: 15px; width: 15px;
                                        margin-bottom: 3px;
                                        box-shadow: none;
                                        min-width: 0; background-color: transparent; }
                            }
                       }
                    }
            }

        }

        .feedback {   display: flex; flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 100%;
            max-width: 914px;
            .feedback-title { font-weight: 500; font-size: 23px; color: #000000; margin-bottom: 25px; text-align: center;  }
            .feedback-desc { font-weight: normal; font-size: 18px; color: #5E5E5E; margin-bottom: 60px;  text-align: center; }
            svg { width: 176px; margin-top: 50px; }
        }
        
        .btn-orange-square { 
            display: flex; 
            align-items: center; justify-content: center;
            background: #FAA916; color: #fff;
            border-radius: 0px;
            font-size: 14px; 
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            width: 233px;
            height: 36px;
            margin: 0 10px;
            margin-right: 0;
            border: none;
        
            &:hover {
                cursor: pointer;
                background-color: #f39e05;
                box-shadow: 2px 2px 4px #4e4e4e;
            }
        }

    }
}

@media screen and (max-width: 850px) {
    // FORM ADJUSTMENTS

    .project .form-title {
        max-width: calc(100% - 50px);
    }

    .project .form .project-form .project-form-group {
        width: 100% !important;
        max-width: 100% !important;
        align-items: center;
    }

    .project .form .project-form .project-form-title { 
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .project .form .project-form .project-form-title span.subject-display {
         margin-left: 0 !important;
     }

    .project .form .project-form .project-form-group .group-1 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px) !important;

        input {
            width: calc(100% - 20px);
            padding: 0 10px;

            &:first-child {
                width: calc(100% - 20px) !important;
            }
        }
    }

    .project .form .project-form .project-form-group .group-2 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px) !important;

        input {
            width: calc(100% - 20px);
            padding: 0 10px;
        }
    }

    .project .form .project-form .project-form-group .group-3 {
        display: flex;
        flex-direction: column;
        width: calc(100% - 50px) !important;
        align-items: flex-start;
        margin-top: 0 !important;

        .radio-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 12px;

            .radio-btn { margin: 0 5px; font-size: 10px; 
                input { width: 10px; height: 10px; }
            }
        }

        .btn-orange-square {
            margin: 0;
            margin-top: 30px;
            width: 100%;
        }
    }

    .project .form .project-form .project-form-group textarea {
        width: calc(100% - 10px);
        margin-bottom: 20px;
        box-shadow: 1px 2px 5px #ededed;
        border-radius: 2px;
    }
}