.company {
    .who-we-are {

        display: flex; flex-direction: column;
        align-items: center;
        margin-top: 100px; margin-bottom: 150px;

        .title {  width: 850px; max-width: 100%;
                  margin-bottom: 30px;
                  font-weight: 500; font-size: 22px;
                  text-align: center; color: #7C7C7C;
                }

        .group { display: flex; flex-direction: row;
                 align-items: flex-start; justify-content: space-between;
                 max-width: 100%; width: 1000px;
                 margin-top: 80px;
                 
            .what-we-do { display: flex; flex-direction: column; 
                          align-items: center;
                          font-weight: 500; font-size: 20px;
                          text-align: center; color: #7C7C7C;
                          max-width: 380px;
            
                svg { height: 140px; margin-bottom: 20px;}
            }
        }
        
    }
}


@media screen and (max-width: 1440px) {
    .company .team .team-text { align-items: flex-end !important; }
    .company .team .team-text .group { max-width: calc(100% - 120px) !important; }
}

@media screen and (max-width: 1160px) {
    .company .clients .group { max-width: calc( 100% - 20px) !important; }
}

@media screen and (max-width: 915px) {
    .company .clients .group svg {
        width: 100%;
        position: absolute;
        z-index: -1;
        right: 0;
        opacity: 0.3;
        left: 0;
        margin-top: 20px;

        &:last-child { display: none !important; }
    }
}

@media screen and (max-width: 860px) {
    .company .team { margin-bottom: 20px !important; }
    .company .team .team-img { display: none !important; }
    .company .team .team-img img.team-img { display: none !important; }
    .company .team .team-text { width: 100% !important; height: auto; }
    .company .team .team-text .group { margin: 0 auto !important;}
    .company .team .team-text .group .title {font-size: 26px !important; margin-bottom: 20px; }
    .company .team .team-text .group .desc {font-size: 16px !important; }
    .company .clients .group , .company .budget .desc  { max-width: calc(100% - 30px) !important; }
    .company .budget .btn-orange {  max-width: calc(100% - 30px) !important; }

    .company .clients .title { font-size: 26px !important; margin-bottom: 15px; text-align: center; }
    .company .clients .group .desc { font-size: 16px !important; }
    .company .clients .group { margin-bottom: 50px !important; }
    .company .clients .group, .company .budget .desc { max-width: 100% !important; }

    .company .budget { height: auto; margin-top: 0; padding: 20px; }
    .company .clients .group, .company .budget .desc { margin-bottom: 50px; font-size: 16px; text-align: center; } 
    .company .budget .btn-orange { max-width: 100%;  font-size: 16px !important; text-align: center; }
}

@media screen and (max-width: 700px) {
    .company .who-we-are .title { max-width: calc(100% - 30px); font-size: 20px; }
    .company .who-we-are .group { flex-direction: column; justify-content: center; align-items: center; 
        .what-we-do { margin-bottom: 40px; }
        svg { height: 70px !important; margin-bottom: 10px;} }
        
}
