.products-details {
    .products-content {
        display: flex; flex-direction: row;
        align-items: flex-start; justify-content: flex-start;
        margin-top: 130px; width: 1400px; margin: 0 auto;



    }
}