.products-admin {
    .add-info {
        position: fixed;
        background: white;
        left: 240px; top: 0; bottom: 0;
        box-shadow: 1px 1px 4px #8f8d8d;
        width: 408px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;

        .title { 
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            width: 350px;
            font-size: 20px;
            margin-top: 15px;
            margin-bottom: 36px;
            border-bottom: 1px  solid lightgrey;
            padding-bottom: 15px;

            .btn-close {
                
                font-size: 16px;
                position: absolute;
                right: 25px;
                margin-top: 4px;
                color: #a5a5a5;

                &:hover { color: red; cursor: pointer; }

            }
        }

        .contact-form-group {
            
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                input , textarea {
                    background: #efefef;
                    margin-bottom: 20px;
                    width: 100%; max-width: 335px;    
                }

                textarea { height: 300px; resize: vertical; }


                .details-group {
                    display: flex; flex-direction: column;
                    align-items: center; justify-content: space-between;
                    max-width: 100%; width: 100%;
                
                    .title { 
                        display: flex; flex-direction: row; 
                        align-items: center; justify-content: space-between;
                        font-size: 16px;

                        .add-details { font-size: 10px; color: black; border: 1px solid black; border-radius: 50px; padding: 3px 6px; cursor: pointer;}
                        .add-details:hover { font-size: 10px; color: #f39e05; border: 1px solid #f39e05; border-radius: 50px; padding: 3px 6px; }
                    }

                    .details-field { 
                        position: relative;
                        display: flex; flex-direction: row;
                        width: 350px;
                        input.detail_name { width: 90px; min-width: 90px; margin-right: 10px; }
                        input.detail_desc { width: calc(100% - 100px); min-width: 90px; margin-right: 0; }

                        button.button.remove {
                            width: 20px;
                            height: 45px;
                            background: #f94a4a;
                            position: absolute;
                            right: 0;
                            border: none;
                            margin-top: 1px;
                            color: #fff;
                            &:hover { background-color: darkred; cursor: pointer; } 
                        }
                    }

                }

                .btn-area { 
                    position: relative;
                    width: 400px;
                    .btn-orange-square { 

                        display: flex; 
                        align-items: center; justify-content: center;
                        background: #FAA916; color: #fff;
                        border: none;
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 16px;
                        width: 100%; height: 100px;
                    
                        &:hover {
                            cursor: pointer;
                            background-color: #f39e05;
                            box-shadow: 2px 2px 4px #4e4e4e;
                        }
                    
                    }
                }

        }
    }
}

select {
    width: calc(100% - 2px);
    height: 40px;
    margin-bottom: 20px;
    margin-left: 1px;
    padding: 0 10px;
}

.add-info::-webkit-scrollbar {
    width: 7px;
}
  
.add-info::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #B0BEC5; 
}
