.contact {  
    .contact-content {
        margin-top: 130px;
    }
}

body { background-color: #FBFAFA; }

@media screen and (max-width: 850px) {
    .contact .contact-content { margin-top: 10px !important; }
}