.product-edit {
    position: fixed;
    left: 240px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-rows: 10% 80% 10%; 
    gap: 0px; 

    .title-edit { 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        border-bottom: 1px  solid lightgrey;

        .btn-close {
            
            font-size: 16px;
            position: absolute;
            right: 25px;
            margin-top: 4px;
            color: #a5a5a5;

            &:hover { color: red; cursor: pointer; }

        }
    }

    .form-area {
        padding: 0 20px;
        background-color: #fdfdfd;    
        width: 800px;
        margin: 0 auto;

        svg {
            font-size: 16px;
            color: #74868f;

            &:hover {
                color: #6100ff;
                cursor: pointer;
            }
        }

        .first-group {

            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 20px;

                .image {
                    display: grid; 
                    grid-auto-columns: 1fr; 
                    grid-template-columns: 50px 10fr; 
                    gap: 5px 5px; 
                    width: 300px;

                    .image-group {
                        display: flex;
                        flex-direction: column;   
                        justify-content: flex-start;
                        align-items: center;

                        .item {
                            background-color: #fff;
                            margin-bottom: 5px;
                            width: 50px;
                            height: 50px;                    
                            img {
                                width: 50px;
                                height: 50px;
                                object-fit: cover;
                            }
                        }
                }

                .image-main { 
                        width: 200px;
                        height: 201px;

                        img {
                            object-fit: contain;
                            max-width: 210px;
                            height: 210px;
                            padding: 0 10px;
                            background-color: #fff;
                        }
                    }
                }            

                .item-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    max-width: calc(100% - 300px);

                        .item-title {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 30px;
                            color: #000;
                            max-width: 100%;
                            text-align: left;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .item-model {
                            font-weight: 500;
                            font-size: 18px;
                            color: #000;
                            max-width: 100%;
                            margin-top: 0;
                            text-align: left;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            border-top: 1px solid #a5a5a5;
                        }
                        ul { 
                            width: 100%; 
                            max-width: 100%;
                            padding: 0;
                            li { 
                                width: 100%;  
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                color: #7C7C7C;

                                .bullet {
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    min-width: 10px;
                                    max-height: 10px;
                                    border-radius: 50%;
                                    background-color: #7c7c7c;
                                    margin-right: 20px;
                                }

                            }
                        }

                }
        }

        .item-desc-title {
            font-weight: 500;
            font-size: 20px;
            color: #000;
            max-width: 100%;
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
        }

        .item-desc { 
            font-style: normal;
            font-size: 16px;
            color: #7a7474;
            max-width: 100%;
            margin-top: 18px;
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding-bottom: 50px;
            border-bottom: 1px solid #a5a5a5;

            .quill.materialize-text-area {
                max-width: 760px;
                margin-right: 10px;
            }
        }

        .categorie {
            font-weight: 500;
            font-size: 20px;
            color: #000;
            max-width: 100%;
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
        }

    }
}