.combo-box { position: relative;

    &:hover { cursor: pointer; }

    .box-transparent { position: absolute;
                       top: 0; 
                       left: 0; right: 0;
                       background-color: transparent; 

        .box { position: relative;
            background: #fff;
            width: 250px; color: #3d3d3d;
            margin: 0; margin-top: 35px;
            box-shadow: 3px 3px 9px #343434;
            border-radius: 2px;

            &:before{
                content: "";
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                left: 5px;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
                top: -10px;
                z-index: 999;
            }


            a.button {   display: flex; flex-direction: row;
                        align-items: center; justify-content: flex-start;
                        width: calc(100% - 30px); height: 30px; 
                        margin: 0; padding: 15px;
                        font-size: 16px; color: #fff;
                    }
            .button:hover { background-color: #efefef; color: #FAA916; font-weight: 400; cursor: pointer; }
        }
    }
}