.categories { 

    .title {
        display: flex; flex-direction: row;
        align-items: center; justify-content: flex-start;
        font-size: 28px; font-weight: 500; color: #323030;
        margin-top: 50px; margin-bottom: 40px;

        .button-orange { 
            display: flex; 
            align-items: center; justify-content: center;
            background: #FAA916; color: #fff;
            border-radius: 9px;
            font-weight: 400;
            text-transform: uppercase;
            margin-left: 40px;
            font-size: 14px;
            width: 250px; height: 34px;
            
        
            &:hover {
                cursor: pointer;
                background-color: #f39e05;
                box-shadow: 2px 2px 4px #4e4e4e;
            }
        }
        
    }

    .categorie-group { 
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 30px 50px; 
        grid-template-areas: 
          ". ."; 
    
        .categorie-block {

            display: flex; flex-direction: column;
            align-items: flex-start; justify-content: flex-start;
            flex-wrap: wrap; width: 440px; 

            .categorie-block-header {
                display: flex; flex-direction: row;
                align-items: center; justify-content: space-between;
                background: #fff;  height: 55px;
                padding: 0 30px; border-radius: 4px;
                padding-left: 0; width: 400px;
               

                .categorie-block-title { width: 300px; background-color: #1274c3; height: 100%;
                        display: flex; align-items: center; padding: 0 10px; color: #fff;
                        border-top-left-radius: 4px; border-bottom-left-radius: 4px;    
                }

                svg:hover { cursor: pointer; color: #FAA916; }
            }

            .subcategorie-add {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 45px;
                background-color: #7e91a3;
                font-size: 12px;
                border-bottom: 1px dashed #fff;
                color: #fff;
                margin-top: 2px;
                outline: none;

                &:hover { cursor: text; background-color: #5b758f; }
            }

            .subcategorie-input {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 45px;
                background-color: #7e91a3;
                font-size: 12px;
                border-bottom: 1px dashed #fff;
                color: #fff;
                margin-top: 2px;

                input { 
                    width: 308px;
                    background-color: #6e859b;
                    height: 40px;
                    outline: none;
                    color: #fff;
                    font-size: 14px;
                    letter-spacing: 0.03em;

                    &::placeholder {
                        font-size: 14px;
                        color: #ffffff6b;
                        font-weight: normal;
                    }
                }
                
                svg { font-size: 14px; margin-right: 27px; cursor: pointer;}
                svg.svg-inline--fa.fa-save.fa-w-14:hover { color: #FAA916; }
                svg.svg-inline--fa.fa-trash.fa-w-14:hover { color: #FAA916; }

            }


            .categorie-block-sub {
                width: 430px; height: auto; 
                max-height: 400px;
                background-color: #fff;
                margin-top: 0px;   
                overflow: auto;
       
                .subcategorie-name {
                    background: #e1e7ed; height: 50px;
                    display: flex; align-items: center;
                    justify-content: space-between;
                    padding: 0 15px; color: #8699a9;
                    text-transform: capitalize;
                    font-size: 15px; margin-top: 2px;            
                }
            }
        }
    }
  
}

.categorie-block-sub::-webkit-scrollbar {
    width: 5px;
}
  
.categorie-block-sub::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: #B0BEC5; 
}