.contact {
    .contact-area {
        display: flex; flex-direction: column;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 100px;

        .title { 
            font-weight: 500; font-size: 20px; 
            color: #323030;
            width: 100%;
            max-width: 100%;
            margin-top: 60px; margin-bottom: 40px;
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        .whatsapp-group {
            display: flex;  flex-direction: row;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin-bottom: 30px;
            color: #6A9000;
            svg { width: 50px; margin-right: 60px; fill: #6A9000; }
        }
        .phone-group {
            display: flex;  flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: 100%;
            color: #838383;
            margin-bottom: 50px;
            .phone-title { font-size: 16px; margin-left: 110px; }
            .editing-group { width: 100%; }
            .phone-numbers { 
                display: flex; flex-direction: row;
                align-items: center;
                width: 100%;
                max-width: 100%;
                margin-top: 20px;
                font-size: 18px; font-weight: 600;
                svg { width: 50px; height: 45px; margin-right: 60px; fill: #838383; }
               
                .phone-number-group {
                    display: grid; 
                    grid-template-columns: 3fr 3fr 2.5fr; 
                    grid-template-rows: 1fr; 
                    gap: 9px 50px; 
                    grid-template-areas: 
                        ". . ."; 
                    
                    a { 
                        display: flex; flex-direction: row;
                        align-items: center;                        
                        color: #838383;
                        font-size: 16px;
                        margin-bottom: 5px;

                        .bullet { 
                            display: block; 
                            width: 8px; height: 8px; 
                            margin-right: 10px; 
                            background-color: #838383; border-radius: 50%;
                        }

                        &:hover { cursor: pointer; color: #6E90A0; }
                        &:hover .bullet { background-color: #FAA916; }
                    }
                }
                .division { border-right: 1px solid #d5d5d5; height: 50px; width: 1px; margin: 0 70px; }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .contact .form .steps-group .step { width: 50px !important; height: 8px !important; }
    .contact .form .buttons .buttons-title {font-size: 16px !important; margin-bottom: 20px !important; }
    .contact .form .buttons .button-group .button-blue {
        height: 35px !important;
        font-size: 12px !important;
        width: 150px !important;
        margin-bottom: 0 !important;
        border-radius: 1px !important;
    }

    .contact .contact-area .title {
        font-size: 14px;
        padding: 15px;
        width: calc(100% - 30px);
        margin-top: 40px;
    }

    .contact .contact-area .phone-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .contact .contact-area .phone-group {
         text-align: center;
        width: calc(100% - 30px);
    }
    
    .contact .contact-area .phone-group .phone-title {
        margin: 0;
        font-size: 12px;
    }

    .contact .contact-area .phone-group .phone-numbers {
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }
    .contact .contact-area .phone-group .phone-numbers svg  { display: none; }

    .contact .contact-area .phone-group .phone-numbers .phone-number-group {
        display: flex;
        flex-direction: column;
        width: calc(100% - 30px) !important;
    }

    .contact .contact-area .phone-group .phone-numbers .phone-number-group a { font-size: 12px !important; }


    // FORM ADJUSTMENTS

    .contact .form .contact-form .contact-form-group {
        width: 100% !important;
        max-width: 100% !important;
        align-items: center;
    }

    .contact .form .contact-form .contact-form-title { 
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .contact .form .contact-form .contact-form-title span.subject-display {
         margin-left: 0 !important;
     }

    .contact .form .contact-form .contact-form-group .group-1 {
        display: flex;
        flex-direction: column;
        width: 315px !important;

        input {
            width: calc(100% - 20px);
            padding: 0 10px;

            &:first-child {
                width: calc(100% - 20px) !important;
            }
        }
    }

    .contact .form .contact-form .contact-form-group .group-2 {
        display: flex;
        flex-direction: column;
        width: 315px !important;
    }

    .contact .form .contact-form .contact-form-group .group-3 {
        display: flex;
        flex-direction: column;
        width: 315px !important;
        align-items: flex-start;
        margin-top: 0 !important;

        .radio-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 12px;

            .radio-btn { margin: 0 5px; font-size: 10px; 
                input { width: 10px; height: 10px; }
            }
        }

        .btn-orange-square {
            margin: 0;
            margin-top: 30px;
            width: 100%;
        }
    }

    .contact .form .contact-form .contact-form-group textarea {
        width: calc(100% - 10px);
        margin-bottom: 20px;
        box-shadow: 1px 2px 5px #ededed;
        border-radius: 2px;
    }
}