.home {
    .associated { 
        display: flex; flex-direction: column;
        align-items: center; justify-content: center;
        margin-top: 200px;
        max-width: 100%;
    
        .title { 
            margin-bottom: 24px;
            color: #000000;
            font-weight: 600; font-size: 34px;       
            text-align: center;        
        }
    
        
        .desc { 
            max-width: 930px;
            margin: 0 auto; margin-bottom: 45px;
            color: #7C7C7C;
            font-weight: 500; font-size: 30px;       
            text-align: center;        
        }
    
        .line { 
            display: block;
            width: 100px; height: 8px;
            margin: 0 auto; margin-bottom: 50px;
            background-color: #7C7C7C;
        }
    
        .associated-preview { 
            display: flex; flex-direction: row;
            align-items: center; justify-content: center;
            width: 1450px; max-width: 100%;
            flex-wrap: wrap;
    
            .arrow { font-size: 50px; color: #C4C4C4; margin: 0 50px; }
    
            .associated { position: relative;
                display: flex; flex-direction: column;
                align-items: center; justify-content: center;
                width: 200px; height: 200px;
                margin: 0 5px; background-color: #fff;
                
                .associated-img { display: block; max-width: 90px; height: 90px; object-fit: contain; }
                &:hover { box-shadow: 3px 3px 4px #d5d5d5; cursor: pointer; }
            }
    
        }
    }
}


@media screen and (max-width: '1170px') {
    .home .associated .associated-preview .arrow:last-child {
        right: -20px; z-index: 2;  background: #133e3012; height: 100%; padding: 0 2px;
    }
    .home .associated .associated-preview .arrow:first-child {
        left: -20px; z-index: 2;  background: #133e3012; height: 100%; padding: 0 2px;
    }
}

@media screen and (max-width: '1150px') {
    .home .associated .desc { max-width: calc(100% - 40px); }
}

@media screen and (max-width: '860px') {
    .home .associated .desc { max-width: calc(100% - 40px); }
}

@media screen and (max-width: '600px') {
    .home .associated .title { font-size: 25px; }
    .home .associated .desc { font-size: 22px; }
}

