.footer { 
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    width: 100%; 
    max-width: 100%;
    padding-top: 36px; padding-bottom: 46px;
    background-color: #0B5072;

    
    &:before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: calc(50% - 125px);
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
        border-bottom: 57px solid #0b5072;
        top: -57px;
        z-index: 999;
    }

    .slogan { 
        margin-top: 16px; margin-bottom: 48px;
        color: #fff;
        font-size: 16px; font-weight: 500;
    }
}

@media screen and (max-width: '1300px') {
    .footer .fast-menu { max-width: 1150px;} 
    .footer .associated-menu { max-width: 1150px;}
}

@media screen and (max-width: '1200px') {
    .footer .fast-menu { max-width: calc(100% - 20px); 
        .link-group { flex-direction: column !important; justify-content: flex-start;
                        .group .column { width: 300px; margin-right: 50px; }
    
    }} 
    .footer .associated-menu { max-width: calc(100% - 20px); .link-group {flex-direction: column !important;}}
    .footer .fast-menu , .footer .associated-menu  { width: unset; justify-content: center; }
}
@media screen and (max-width: 615px) {
    .fast-menu .title { text-align: center !important; }
    .associated-menu .link-group .group , .fast-menu .link-group .group , .copy-right , .copy-right .social-networks { max-width: calc(100% - 40px) !important; margin: 0 auto; }
    .associated-menu .link-group .group .title { width: 100%; text-align: center !important; }
    .associated-menu .link-group .group .group-columns { flex-direction: column !important; .column.row { margin-top: 20px; } }
}