.product-bar { position: fixed;
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    width: calc(100% - 140px); height: 50px;
    padding: 0 70px;
    max-width: 100%;
    font-weight: 400; font-size: 16px;
    background-color: #2C3A41; color: #FFFFFF; 
    top: 80px;

    .title {  color: #fff !important; margin: 0 !important; font-size: 16px !important;  svg { margin-right: 40px; margin-left: 40px; } }
    .button-area {
        display: flex;  flex-direction: row;
        align-items: center; justify-content: space-between;
        .bar-button { margin: 0 50px; }

        .button:hover { cursor: pointer; color: #FAA916; }
    }
}